html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body,
body * {
  all: "unset";
  box-sizing: "border-box";
}

:root {
  --colors-gray-100: #f3f4f6;
  --colors-gray-900: #18181b;

  --colors-Worldwide: #d97706;
  --colors-Luxor: #ea580c;
  --colors-Festival: #16a34a;
  --colors-Imperial: #db2777;
  --colors-American: #0284c7;
  --colors-Continental: #dc2626;
  --colors-Tower: #9333ea;
}
