html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body,
body * {
  all: "unset";
  box-sizing: "border-box";
}

:root {
  --colors-gray-100: #f3f4f6;
  --colors-gray-200: #e4e4e7;
  --colors-gray-300: #d4d4d8;
  --colors-gray-400: #a1a1aa;
  --colors-gray-500: #71717a;
  --colors-gray-700: #374151;
  --colors-gray-800: #27272a;
  --colors-gray-900: #18181b;

  --colors-primary: #22c55e;

  --colors-red-400: #f87171;
  --colors-red-600: #dc2626;

  --colors-yellow-300: #fde047;

  --colors-emerald-200: #a7f3d0;
  --colors-emerald-400: #34d399;

  --colors-tile: var(--colors-gray-400);

  --colors-Worldwide: #d97706;
  --colors-Luxor: #ea580c;
  --colors-Festival: #16a34a;
  --colors-Imperial: #db2777;
  --colors-American: #0284c7;
  --colors-Continental: #dc2626;
  --colors-Tower: #9333ea;
}
